<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MakeMyTrip">
  <test thread-count="1" name="CabBookingTest">
    <classes>
      <class name="testcases.CabBookingTest"/>
    </classes>
  </test> <!-- Test -->
  
  
  <test thread-count="1" name="GiftCardTest">
    <classes>
      <class name="testcases.GiftCardTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="1" name="HotelBookingTest">
    <classes>
      <class name="testcases.HotelBookingTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
